html {
    height: 100%;
}

body {
/*  height: 100%;*/
  background: #C88B96; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #C88B96, #E9D0D5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #C88B96, #E9D0D5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #C88B96, #E9D0D5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #C88B96, #E9D0D5); /* Standard syntax */
}

#quotes {
  border-style: double;
  text-align: center;
  color: #eee;
}

#quote{
  font-style: italic;
  font-size: 2.0em;
  margin: 20px;
}

#author{
  font-size: 1.2em;
  font-weight: bold;
}
#title {
    color: #eee;
}
